.flexWrapper{
  font-family: Verdana, Geneva, sans-serif;
  display: flex;
  align-items: baseline;
  font-size: 10pt;
  padding: 5px 15px;
}
.mainTitle{
  font-size: 10pt;
  margin:5px;
  text-align: left;
}
.subtitle{
font-size: 7pt;
color: #828282;
margin:5px;
text-align: left;
}